<style>
    * {
        font-family: sans-serif;
        padding: 0;
    }

    p {
        color: #191C20;
    }

    .centered {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

</style>

<div>

    <div class="centered">
        <h1>Removed from book</h1>
    </div>
    <p>Hello {username},</p>
    <p><b>{remover_name}</b> has removed you as a member from the book <b>{book_name}</b>.</p>
    <p>Yours, the Civoris server</p>
</div>