<style>
    * {
        font-family: sans-serif;
        padding: 0;
    }

    body {
        background: #F9F9FF;
    }

    p, h1, h2 {
        color: #191C20;
    }

    #info-wrapper {
        background: #E7E8EE;
        border-radius: 32px;
        padding: 16px;
        color: #415F91;
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    .info-item:nth-child(odd) {
        font-weight: bold;
    }

    .info-item:nth-child(even) {
        margin-left: 16px;
    }

    .centered {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

</style>

<div>

    <div class="centered">
        <h1>New Invitation</h1>
    </div>
    <p>Hello {username},</p>
    <p><b>{author_name}</b> has invited you to join the book <b>{book_name}</b>.</p>
    <div id="info-wrapper">
        <p class="info-item">Role:</p>
        <p class="info-item">{member_role}</p>
        <includeoptional>info-item-expiration</includeoptional>
        <includeoptional>info-item-message</includeoptional>
    </div>
    <p>Yours, the Civoris server</p>
</div>